BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rx" SITE "43" ;
IOBUF PORT "rx" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=LARGE ;
USE PRIMARY NET "clk" ;
USE DOUT TRUE CELL "uart_data_iio[7]" ;
LOCATE COMP "ws2812_out" SITE "69" ;
IOBUF PORT "ws2812_out" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
